@import "ember-foundation";

* {
  outline: none;
}

.magellan-container {
  padding: 0 !important;
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

footer {
  height: 600px;
}
