<h2>Component Demos</h2>

<ul>
  <li>{{#link-to "component-demos.accordion"}}Accordion{{/link-to}}</li>
  <li>{{#link-to "component-demos.alert"}}Alert{{/link-to}}</li>
  <li>{{#link-to "component-demos.breadcrumbs"}}Breadcrumbs{{/link-to}}</li>
  <li>{{#link-to "component-demos.button"}}Button{{/link-to}}</li>
</ul>
